.Navbar{
  background-color: #393e46;
  z-index: 2;
}
.Navbar_Text {
  font-size: 23px;
  font-family: "Lobster Two", cursive;
  font-weight: 800;
  color:#DCD7A0 ;
}
.Navbar_Top{
    font-family:"Lobster Two", cursive ;
    color:#fff;
    font-weight: 800;
    font-size: 1.4em;
}
.navbar_link_p{
  color:#fff
}