
.resumes {
  background-color: orange;
  font-family: "Open Sans", sans-serif;
  color: #0d2334;
  padding: 6px 12px;
  font-size: 16px;
  /* border-radius: 8px; */
  border: none;
  font-weight: 700;
}

a:hover {
  border-bottom: 2.5px solid orange;
}
.Navbar_Text {
  font-size: 23px;
  font-family: "Lobster Two", cursive;
  font-weight: 800;
  color:#DCD7A0 ;
}